<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>拼多多查排名_拼多多排名查询_拼多多魔盒 拼多多直通车查询平台</title>
    <meta name="keyword" content="拼多多排名查询 拼多多查排名 拼多多排名查询软件 拼多多排名查询工具 拼多多直通车查询 拼多多关键词排名查询">
    <meta name="description" content="拼多多查排名平台是拼多多排名查询软件 拼多多排名查询工具,提供拼多多排名查询,拼多多直通车查询,拼多多关键词直通车查询,便于商家优化拼多多排名">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/static/ddms/img/logo.png}" type="image/x-icon" rel="shortcut icon">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="TfDciIDlfwZkIAm4P5l64C_XaYZhb3dTD7pwJcQdCwd7o7bO9ooLdjEWTNN2yhC_HYMc7zMpPGJj1j8cj0tbTQ==">
    <link th:href="@{/static/ddms/css/main1.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/login.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/search_gulp.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/user.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/ddms/jquery/jquery-1.4.4.min.js}"></script>
    <style type='text/css'>
        #code {
            font-family: Arial, 宋体;
            font-style: italic;
            color: green;
            border: 0;


            font-weight: bolder;
        }
    </style>
    <script type="text/javascript">
        $(function(){

            $(".loginPasswordSubmit").click(function(){                   //.loginPasswordSubmit是确定按钮的class   click点击事件
                var userTelephone = $(".userNameText").text();               //如果是id就用#
                var userPassword = $(".beforePasLogin").val();     //var 声明定义（创建）一个变量

                var new_password = $(".newPasLogin").val();
                var new_password1 = $(".newPasLogin1").val();

                if(new_password==new_password1){               //如果两次密码相同
                    $.ajax({
                        url:"toUpdate",
                        data:{

                            userTelephone:userTelephone,   //参数名和参数值
                            userPassword:userPassword,     // data对象中的属性名要和服务端控制器的参数名一致 toUpdate(userTelephone, new_password,userPassword)
                            new_password:new_password
                        },
                        traditional:true,
                        success:function(data){
                            if(data==1){
                                alert("修改成功！");
                                window.location.href = "setpwd";
                            }else{
                                alert("原密码错误！");
                            }
                        }
                    })
                }else{
                    alert("两次新密码不一致");
                }
                //alert(user_password);
            })


        })


    </script>
</head>
<body>
<header th:include="include :: header"></header>

<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel">
    <div class="modal-feedback" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="head_box">
                    <div class="close feedClose" data-dismiss="modal" aria-label="Close"><span>×</span></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal_body_box row">
                    <div class="row">
                        <div class="feedback_name"><div class="name_block"></div>意见所属类别</div>
                        <div class="feedback_option">
                            <button class="btn btn-item active" data-status="1">我要新功能</button>
                            <button class="btn btn-item" data-status="2">错误信息</button>
                            <button class="btn btn-item" data-status="3">产品建议</button>
                            <button class="btn btn-item" data-status="4">吐槽</button>
                            <button class="btn btn-item" data-status="5">其他</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="feedback_name"><div class="name_block"></div>反馈内容</div>
                        <div class="feedback_option">
                            <textarea type="text" class="form-control advise_form" id="content" placeholder="写下您希望增加的新功能，或者对魔盒的意见或建议。（一经采用将会给您予以积分奖励）"></textarea>
                            <div class="block_error" for="content"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="feedback_name"><div class="name_block"></div>联系方式<b style="font-size:12px">(非必填)</b></div>
                        <div class="feedback_option">
                            <input class="form-control" type="phone" id="contact" placeholder="留下电话或邮箱，方便我们联系您哦">
                            <div class="block_error" for="content"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_body_box row">
                    <div class="row">
                        <button type="button" class="btn feedback_submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jd_menu_remove">
    <div class="jd_remove_item">
        <i class="iconfont icon-kefu icon"></i><br>
        咨询
    </div>
    <div class="feedback tada hidden" id="feedback" data-toggle="modal" data-target="#feedbackModal">
        <!--img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback.png">
        <img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback1.png"-->
    </div>
</div>
<div class="consult-wrapper">
    <div class="header-phone-close">
        <i class="icon consult-phone-close iconfont icon-cuowu"></i>
    </div>
    <div class="consult-phone-wrapper">
        <h3>联系我们</h3>
        <div class="consult-phone-btn">
            <button class="btn"><img src="img//QQ.png">QQ咨询</button>
        </div>
        <div class="qq-text">

        </div>
        <div class="weixin-text">
            扫一扫&nbsp;<img src="../img/weixin.png">&nbsp;加微信
        </div>
        <div class="erweima-text">
            <img class="wechartCode" src="../we.jpg">
        </div>
        <div class="erweima-text1">

        </div>
    </div>
</div>


<div class="dd_content_wrap dd_container">

    <div class="user_menu">
        <div class="row" style="padding:10px;">
            <h4 style="text-align: center;padding: 10px 0;">个人中心</h4>
            <div class="user_name_box">
                <div class="name_left">
                    <i class="iconfont icon-icon-user"></i>
                </div>
                <div class="name_right clearfix">
                    <p class="user_name_text user_name" th:text="${session.user_login.userTelephone}"></p>
                    <p class="user_vip_text"><i class="iconfont icon-zuanshi"></i>
                        <span class="user_level" th:if="${session.user_login.userType==1 }">
                		普通用户
                         </span>
                        <span class="user_level" th:if="${session.user_login.userType==2 }">
                		VIP会员
                         </span>
                        <a class="pull-right btn" th:href="@{center}">升级续费</a></p>
                </div>
            </div>
            <div class="row score_box score_box1">
                <div class="score_inner">
                    <div class="hidden" data-toggle="tooltip" data-placement="top" title="" data-original-title="查排名会员到期时间">查排名：<span class="rank_end_at blue_span">限时免费</span></div>
                    <!-- <div data-toggle="tooltip" data-placement="top" title="" data-original-title="排名监控会员到期时间">排名监控：<span class="monitor_end_at blue_span">未开通</span></div>
                    <div data-toggle="tooltip" data-placement="top" title="" data-original-title="备注插件会员到期时间">插件下载：<span class="plug_end_at blue_span">未开通</span></div> -->
                    <!--  <div data-toggle="tooltip" data-placement="top" title="" data-original-title="排名监控会员到期时间">店铺监控：<span class="monitor_end_at blue_span">未开通</span></div>
                     <div data-toggle="tooltip" data-placement="top" title="" data-original-title="排名监控会员到期时间">销量监控：<span class="monitor_end_at blue_span">未开通</span></div>
                     <div data-toggle="tooltip" data-placement="top" title="" data-original-title="排名监控会员到期时间">热词分析：<span class="monitor_end_at blue_span">未开通</span></div> -->
                </div>
            </div>
            <div class="row score_box">
                账号余额：<span class="blue_span balance" th:text="${session.user_login.userGold }"></span>&nbsp;&nbsp;金币
                <a class="btn" th:href="@{subordinate.do}" >查看明细</a>
            </div>
        </div>
        <div>
            <hr style="border: 1px dashed #C4C4C4;margin-top: 0;margin-bottom: 10px;">

            <div class="row">
                <ul class="nav_user_list">
                    <li class="user_li" id="user_index">
                        <a th:href="@{center}">
                            <i class="iconfont icon-wxbmingxingdianpu"></i>
                            <span>我的首页</span>
                        </a>
                    </li>
                    <li class="user_li" id="user_share">
                        <!--<a th:href="@{subordinate}">-->
                        <a href="javascript:share()">
                            <i class="iconfont icon-shichangtuiguang"></i>
                            <span>邀请好友</span>
                            <div class="flow">
                                <span class="only_tips">邀请返利</span>
                            </div>
                        </a>
                    </li>
                    <li class="user_li" id="user_buy">
                        <a href="javascript:buy()">
                            <i class="iconfont icon-jilu"></i>
                            <span>购买记录</span>
                        </a>
                    </li>
                    <li class="user_li active" id="user_set">
                        <a th:href="@{setpwd}">
                            <i class="iconfont icon-shezhi"></i>
                            <span>修改密码</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>    <div class="user_wrap share_list_wrap">
    <div class="share_table_box share_table_box1">
        <h3><button class="btn">密码设置</button></h3>
        <div class="table_box buy_table_box">
            <div class="table-wrapper">
                <div class="row">
                    <div class="pay-wrapper">
                        <div class="pay-header">
                            <button class="btn login-password-btn activeBtn">重置登录密码</button>
                            <button class="btn pay-password-btn">设置支付密码</button>
                        </div>
                        <div class="pay-content login-form">
                            <div class="row">
                                <div class="pay-name" style="line-height: 25px">手机号:</div>
                                <div class="pay-option userNameText user-account" style="line-height: 25px" th:text="${session.user_login.userTelephone}"></div>
                            </div>
                            <div class="row">
                                <div class="pay-name">原登录密码:</div>
                                <div class="pay-option">
                                    <input type="password" class="form-control pay-input beforePasLogin"  placeholder="原登录密码">
                                </div>
                            </div>
                            <div class="row">
                                <div class="pay-name">新密码:</div>
                                <div class="pay-option">
                                    <input type="password" class="form-control pay-input newPasLogin"  placeholder="密码为6-16位">
                                </div>
                            </div>
                            <div class="row">
                                <div class="pay-name">再次输入密码:</div>
                                <div class="pay-option">
                                    <input type="password" class="form-control pay-input newPasLogin1"  placeholder="再次输入密码">
                                </div>
                            </div>
                            <div class="row" style="margin: 30px 0;text-align:center">
                                <button class="btn loginPasswordSubmit">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://hm.baidu.com/hm.js?696697aa5ab99eca019ba08eb7038b52"></script><script src="../js/main.js?t=0914"></script>
<script src="../js/login.js?t=?t=0727"></script>
<script src="../js/user.js"></script>
<script src="../js/set.js"></script><script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?696697aa5ab99eca019ba08eb7038b52";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    function exit() {
        $.ajax({
            url:'exituser',
            type:'POST',
            success:function(param){
                if(param == 1){
                    window.location.href = "/api/";
                }else{
                    alertError(param.msg)
                }
            },
            error:function(){
                alertError('系统错误')
            }
        });
    }
    function buy() {
        $.ajax({
            url:'selectOrders',
            type:'POST',
            success:function(param){
                if(param == 1){
                    window.location.href = "buylist";
                }else{
                    alertError(param.msg)
                }
            },
            error:function(){
                alertError('系统错误')
            }
        });
    }
    function share() {
        $.ajax({
            url:'subordinate',
            data:"pn=1",
            type:'POST',
            success:function(param){
                if(param == 1){
                    window.location.href = "share_list";
                }else{
                    alertError(param.msg)
                }
            },
            error:function(){
                alertError('系统错误')
            }
        });
    }
</script>
<div class="tool"><div class="backTop"><div class="iconRow"></div><i class="glyphicon glyphicon-arrow-up iconArrow"></i></div><div id="particles-js" style="position: absolute; top: 0px; left: 0px; z-index: -1;"><canvas class="particles-js-canvas-el" width="775" height="388" style="width: 100%; height: 100%;"></canvas></div><div class="alert-title success"><i class="glyphicon glyphicon-ok-circle" style="color: #5cb85c;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span></span></div><div class="alert-title error"><i class="glyphicon glyphicon glyphicon-remove-circle" style="color: #c9302c;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span></span></div><div class="alert-title info"><i class="glyphicon glyphicon-info-sign" style="color: #f0ad4e;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span></span></div></div></body>
</html>
