<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>拼多多查排名_拼多多排名查询_拼多多魔盒 拼多多直通车查询平台</title>
    <meta name="keyword" content="拼多多排名查询 拼多多查排名 拼多多排名查询软件 拼多多排名查询工具 拼多多直通车查询 拼多多关键词排名查询">
    <meta name="description" content="拼多多查排名平台是拼多多排名查询软件 拼多多排名查询工具,提供拼多多排名查询,拼多多直通车查询,拼多多关键词直通车查询,便于商家优化拼多多排名">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/static/ddms/img/logo.png}" type="image/x-icon" rel="shortcut icon">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="tvEO2IcIyNlgYl48N16xtjKxeGGSvYp6me_BrS5CjQaAomSe8We8qTVUG1d-DdvpAOUNCMD7wUv1g46UZRTdTA==">
    <link th:href="@{/static/ddms/css/main1.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/login.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/search_gulp.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/bootstrap/bootstrap-table.min.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/user.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/ddms/jquery/jquery-1.4.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/ddms/jquery/jquery-form.js}"></script>
    <style type='text/css'>
        #code {
            font-family: Arial, 宋体;
            font-style: italic;
            color: green;
            border: 0;
            font-weight: bolder;
        }
    </style>
    <script data-cfhash='f9e31' type="text/javascript">
        function jsCopy(){
            var e=document.getElementById("text_copy");
            e.select(); //选择对象
            document.execCommand("Copy"); //执行浏览器复制命令
            alert("复制成功");
        }

    </script>
</head>
<body>
<header th:include="include :: header"></header>

<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel">
    <div class="modal-feedback" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="head_box">
                    <div class="close feedClose" data-dismiss="modal" aria-label="Close"><span>×</span></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal_body_box row">
                    <div class="row">
                        <div class="feedback_name"><div class="name_block"></div>意见所属类别</div>
                        <div class="feedback_option">
                            <button class="btn btn-item active" data-status="1">我要新功能</button>
                            <button class="btn btn-item" data-status="2">错误信息</button>
                            <button class="btn btn-item" data-status="3">产品建议</button>
                            <button class="btn btn-item" data-status="4">吐槽</button>
                            <button class="btn btn-item" data-status="5">其他</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="feedback_name"><div class="name_block"></div>反馈内容</div>
                        <div class="feedback_option">
                            <textarea type="text" class="form-control advise_form" id="content" placeholder="写下您希望增加的新功能，或者对魔盒的意见或建议。（一经采用将会给您予以积分奖励）"></textarea>
                            <div class="block_error" for="content"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="feedback_name"><div class="name_block"></div>联系方式<b style="font-size:12px">(非必填)</b></div>
                        <div class="feedback_option">
                            <input class="form-control" type="phone" id="contact" placeholder="留下电话或邮箱，方便我们联系您哦">
                            <div class="block_error" for="content"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_body_box row">
                    <div class="row">
                        <button type="button" class="btn feedback_submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jd_menu_remove">
    <div class="jd_remove_item">
        <i class="iconfont icon-kefu icon"></i><br>
        咨询
    </div>
    <div class="feedback tada hidden" id="feedback" data-toggle="modal" data-target="#feedbackModal">
        <!--img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback.png">
        <img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback1.png"-->
    </div>
</div>
<div class="consult-wrapper">
    <div class="header-phone-close">
        <i class="icon consult-phone-close iconfont icon-cuowu"></i>
    </div>
    <div class="consult-phone-wrapper">
        <h3>联系我们</h3>
        <div class="consult-phone-btn">
            <button class="btn"><img src="../img/QQ.png">QQ咨询</button>
        </div>
        <div class="qq-text">

        </div>
        <div class="weixin-text">
            扫一扫&nbsp;<img src="../img/weixin.png">&nbsp;加微信
        </div>
        <div class="erweima-text">
            <img class="wechartCode" src="../img/we.jpg">
        </div>
        <div class="erweima-text1">

        </div>
    </div>
</div>


<div class="dd_content_wrap dd_container">

    <div class="user_menu">
        <div class="row" style="padding:10px;">
            <h4 style="text-align: center;padding: 10px 0;">个人中心</h4>
            <div class="user_name_box">
                <div class="name_left">
                    <i class="iconfont icon-icon-user"></i>
                </div>
                <div class="name_right clearfix">
                    <p class="user_name_text user_name" th:text="${session.user_login.userTelephone}"></p>
                    <p class="user_vip_text"><i class="iconfont icon-zuanshi"></i>
                        <span class="user_level" th:if="${session.user_login.userType==1 }">
                		普通用户
                         </span>
                        <span class="user_level" th:if="${session.user_login.userType==2 }">
                		VIP会员
                         </span>
                        <a class="pull-right btn" th:href="@{center}">升级续费</a></p>
                </div>
            </div>
            <div class="row score_box score_box1">
                <div class="score_inner">
                    <div class="hidden" data-toggle="tooltip" data-placement="top" title="" data-original-title="查排名会员到期时间">查排名：<span class="rank_end_at blue_span">限时免费</span></div>
                    <!-- <div data-toggle="tooltip" data-placement="top" title="" data-original-title="排名监控会员到期时间">排名监控：<span class="monitor_end_at blue_span">未开通</span></div>
                    <div data-toggle="tooltip" data-placement="top" title="" data-original-title="备注插件会员到期时间">插件下载：<span class="plug_end_at blue_span">未开通</span></div> -->
                    <!--  <div data-toggle="tooltip" data-placement="top" title="" data-original-title="排名监控会员到期时间">店铺监控：<span class="monitor_end_at blue_span">未开通</span></div>
                     <div data-toggle="tooltip" data-placement="top" title="" data-original-title="排名监控会员到期时间">销量监控：<span class="monitor_end_at blue_span">未开通</span></div>
                     <div data-toggle="tooltip" data-placement="top" title="" data-original-title="排名监控会员到期时间">热词分析：<span class="monitor_end_at blue_span">未开通</span></div> -->
                </div>
            </div>
            <div class="row score_box">
                账号余额：<span class="blue_span balance" th:text="${session.user_login.userGold }"></span>&nbsp;&nbsp;金币
                <a class="btn" th:href="@{subordinate.do}" >查看明细</a>
            </div>
        </div>
        <div>
            <hr style="border: 1px dashed #C4C4C4;margin-top: 0;margin-bottom: 10px;">

            <div class="row">
                <ul class="nav_user_list">
                    <li class="user_li" id="user_index">
                        <a th:href="@{center}">
                            <i class="iconfont icon-wxbmingxingdianpu"></i>
                            <span>我的首页</span>
                        </a>
                    </li>
                    <li class="user_li active" id="user_share">
                        <a th:href="@{subordinate.do}">
                            <i class="iconfont icon-shichangtuiguang"></i>
                            <span>邀请好友</span>
                            <div class="flow">
                                <span class="only_tips">邀请返利</span>
                            </div>
                        </a>
                    </li>
                    <li class="user_li" id="user_buy">
                        <a href="javascript:buy()">
                            <i class="iconfont icon-jilu"></i>
                            <span>购买记录</span>
                        </a>
                    </li>
                    <li class="user_li" id="user_set">
                        <a th:href="@{setpwd}">
                            <i class="iconfont icon-shezhi"></i>
                            <span>修改密码</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>    <div class="user_wrap share_list_wrap">
    <h3 class="share_hea">邀请有礼</h3>
    <div class="share_limit">
        限时活动：<span class="red_span">每</span>邀请<span class="red_span">一名</span>好友<span class="red_span">注册且订购会员</span>可获得&nbsp;<b class="share_money red_span">10</b>&nbsp;金币返利！
    </div>
    <div class="share_inner_wrap">
        <div class="share_url_box"><b>我的分享链接：</b></div>
        <div class="share_code_wrap clearfix">
            <textarea class="text_copy_class" id="text_copy" >排名莫名其妙下降？如何避免系统个性化推荐影响查询宝贝的真实排名？监控宝贝排名趋势变化？推荐使用“多多魔搜”，快人一步洞悉市场行情！http://www.ddmosou.com/?user_code=<i th:text="${session.user_login.userCode }"></i></textarea>
            <button class="btn copy_btn" onclick="jsCopy()">复制邀请</button>
        </div>
        <div>友情提示：</div>
        <div>
            <p>1.邀请人<span class="red_span">本人是VIP会员</span>，邀请好友<span class="red_span">注册账号且订购会员</span>之后，邀请人才可以获得返利</p>
            <p>2.邀请所获得返利只能用于购买功能，不能提现</p>
        </div>
    </div>
    <div class="share_table_box">
        <h3><button class="btn">我的邀请列表</button></h3>
        <div class="table_box buy_table_box">
            <p>当前您已邀请&nbsp;<span class="invit_sum red_span" th:text="${session.spn }"></span>&nbsp;人注册，其中&nbsp;<span class="vip_sum red_span" th:text="${session.spnc }"></span>&nbsp;人订购会员，总获得返利为&nbsp;<span class="rebate_sum red_span" th:text="${session.sum*10 }"></span>&nbsp;金币</p>
            <div class="loadingLog" style="display: none;">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            <div class="fixed-table-container">
                <div class="fixed-table-header">
                </div>
                <div class="fixed-table-body">
                    <table id="tableLog" class="table table-bordered table-hover" data-pagination="false">
                        <thead>
                        <tr>
                            <th style=""><div class="th-inner" style="width: 119px;">序号</div></th>
                            <th style=""><div class="th-inner" style="width: 123px;">用户名</div></th>
                            <th style=""><div class="th-inner" style="width: 130px;">创建时间</div></th>
                            <th style=""><div class="th-inner" style="width: 116px;">会员等级</div></th>
                            <th style=""><div class="th-inner" style="width: 108px;">邀请返利</div></th>
                        </tr>
                        </thead>
                        <tbody>
                        <a th:if="${session.subordinate.size()-1>=0 }">
                            <a th:each="info,infoStat:${session.subordinate}">
                                <!--<tr>-->
                                    <!--<td><div class="th-inner" style="width: 119px;" th:text="${session.no+infoStat.count }"></div></td>-->
                                    <!--<td><div class="th-inner" style="width: 123px;" th:text="${info.get(infoStat.count).userTelephone }"></div></td>-->
                                    <!--<td><div class="th-inner" style="width: 130px;" th:text="${#dates.format(info.get(i).userCreatetime, 'yyyy-MM-dd HH:mm')}"></div>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<div class="th-inner" style="width: 116px;" th:if="${info.get(infoStat.count).userType==1 }">-->
                                            <!--普通会员-->
                                        <!--</div>-->
                                        <!--<div class="th-inner" style="width: 116px;" th:if="${info.get(infoStat.count).userType==2 }">-->
                                            <!--VIP会员-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<div class="th-inner" style="width: 108px;" th:if="${session.count.get(infoStat.count)!=null}">-->
                                            <!--<a th:text=" ${session.count.get(infoStat.count)*10 }"></a>金币-->
                                         <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td><div class="th-inner" style="width: 119px;" th:text="${session.no+infoStat.count }"></div></td>
                                    <td><div class="th-inner" style="width: 123px;" th:text="${info.userTelephone }"></div></td>
                                    <td><div class="th-inner" style="width: 130px;" th:text="${#dates.format(info.userCreatetime, 'yyyy-MM-dd')}"></div>
                                    </td>
                                    <td>
                                        <div class="th-inner" style="width: 116px;" th:if="${info.userType==1 }">
                                            普通会员
                                        </div>
                                        <div class="th-inner" style="width: 116px;" th:if="${info.userType==2 }">
                                            VIP会员
                                        </div>
                                    </td>
                                    <td>
                                        <div class="th-inner" style="width: 108px;" th:if="${session.count.get(infoStat.count-1)!=null}">
                                            <span th:text=" ${session.count.get(infoStat.count-1)*10 }"></span>金币
                                        </div>
                                    </td>
                                </tr>
                            </a>
                        </a>
                        </tbody>
                    </table>
                </div>
                <div class="fixed-table-pagination"></div></div><div class="clearfix"></div><div class="clearfix"></div>
            <div class="pagination-box clearfix">
                <div class="M-box" th:if="${session.page.totalPage>0 }">
                        <a th:each="info:${session.page.totalPage }">
                            <span class="active">
                              <a th:href="@{'subordinate?pn='+${info}}" th:text="${info}"></a>
                            </span>
                        </a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- <script src="https://hm.baidu.com/hm.js?696697aa5ab99eca019ba08eb7038b52"></script> -->
<script th:src="@{https://hm.baidu.com/hm.js?696697aa5ab99eca019ba08eb7038b52}"></script>
<script th:src="@{/static/ddms/js/main.js?t=0914}"></script>
<script th:src="@{/static/ddms/js/login.js?t=?t=0727}"></script>
<script th:src="@{/static/ddms/js/bootstrap/bootstrap-table.js}"></script>
<script th:src="@{/static/ddms/js/cite/jquery.pagination.js}"></script>
<script th:src="@{/static/ddms/js/user.js}"></script>

<!-- <script src="../js/share_list.js"></script> -->
<script>
    function exit() {
        $.ajax({
            url:'exituser',
            type:'POST',
            success:function(param){
                if(param == 1){
                    window.location.href = "/api/";
                }else{
                    alertError(param.msg)
                }
            },
            error:function(){
                alertError('系统错误')
            }
        });
    }
    function buy() {
        $.ajax({
            url:'selectOrders',
            type:'POST',
            success:function(param){
                if(param == 1){
                    window.location.href = "buylist";
                }else{
                    alertError(param.msg)
                }
            },
            error:function(){
                alertError('系统错误')
            }
        });
    }
    function share() {
        $.ajax({
            url:'subordinate',
            data:"pn=1",
            type:'POST',
            success:function(param){
                if(param == 1){
                    window.location.href = "share_list";
                }else{
                    alertError(param.msg)
                }
            },
            error:function(){
                alertError('系统错误')
            }
        });
    }
</script>
<div class="tool"><div class="backTop"><div class="iconRow"></div><i class="glyphicon glyphicon-arrow-up iconArrow"></i></div><div id="particles-js" style="position: absolute; top: 0px; left: 0px; z-index: -1;"><canvas class="particles-js-canvas-el" width="775" height="388" style="width: 100%; height: 100%;"></canvas></div><div class="alert-title success"><i class="glyphicon glyphicon-ok-circle" style="color: #5cb85c;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span></span></div><div class="alert-title error"><i class="glyphicon glyphicon glyphicon-remove-circle" style="color: #c9302c;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span></span></div><div class="alert-title info"><i class="glyphicon glyphicon-info-sign" style="color: #f0ad4e;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span></span></div></div></body>
</html>
