*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}
dropdown{
   display: inline-block;

}
dropdown label{
  display: block;
  width: 120px;
  background: #cf0c14;
  color:#000;
  text-align: center;

}
dropdown ul li{
  color: #fff;
}

dropdown ul li{
  display: block;
  width: 120px;
  background: #fff;
  color:#000;
  text-align: center;
  height: 30px;
  line-height:30px;

}
dropdown label:hover, dropdown ul li:hover{
  background:#cf0c14;
  color: white;
  cursor: pointer;
}
dropdown ul li:hover a{
  color: #fff;
}
dropdown label{
  color:white;
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background:#cf0c14;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 87%;
  border: 1px solid #cf0c14;
}
/*
$colors: #E74C3C, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white; 
      }
    }
  }
}
*/

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:show;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}
