<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.model.base.dao.AutoSalestargetDAO">
    <!-- 返回值映射map -->
    <resultMap id="salestargetMapper" type="com.xxx.model.base.entity.Salestarget">
        <result property="id" column="id" />
        <result property="product" column="product" />
        <result property="sum" column="sum" />
        <result property="start" column="start" />
        <result property="end" column="end" />
        <result property="rate" column="rate" />
        <result property="createtime" column="createtime" />
    </resultMap>

    <!-- 分页查询数据集合 -->
    <select id="selectListByPage" resultMap="salestargetMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
        <if test="pager!=null">
            <include refid="pagination_tail" />
        </if>
    </select>

    <!-- 查询总数量 -->
    <select id="selectCount" resultType="long">
        <include refid="count_Tail"/>
        <include refid="where_fragement"/>
    </select>

    <!-- 单条查询 -->
    <select id="selectOne" resultMap="salestargetMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
    </select>

    <!-- 单条查询 -->
    <select id="selectById" resultMap="salestargetMapper" >
        <include refid="selectAllColumns"/>
        WHERE record.id = #{id}
    </select>

    <!-- 新增新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xxx.model.base.entity.Salestarget">
        INSERT INTO salestarget(
            product,
            sum,
            start,
            end,
            rate,
            createtime
        ) values (
            #{product},
            #{sum},
            #{start},
            #{end},
            #{rate},
            #{createtime}
        )
    </insert>

    <!-- 修改(通过ID只对不为空的内容进行修改) -->
    <update id="updateNotNull" parameterType="com.xxx.model.base.entity.Salestarget">
        UPDATE salestarget record
        <include refid="update_fragement"/>
        WHERE id = #{id}
    </update>

    <!-- 修改(通过ID更新所有属性值) -->
    <update id="updateParams" parameterType="com.xxx.model.base.entity.Salestarget">
        UPDATE salestarget record
        <set>
            record.product = #{product},
            record.sum = #{sum},
            record.start = #{start},
            record.end = #{end},
            record.rate = #{rate},
            record.createtime = #{createtime}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过ID删除信息 -->
    <delete id="deleteById">
        DELETE FROM salestarget
        WHERE id = #{id}
    </delete>

    <!-- 通过IDS批量删除 -->
    <delete id="deleteByIds">
        DELETE FROM salestarget
        WHERE id IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!-- /////////////////// PUBLIC SQL STR ////////////////// -->

    <!-- 查询数量公共sql -->
    <sql id="count_Tail">
        SELECT count(1) FROM salestarget record
    </sql>

    <!-- 分页公共sql -->
    <sql id="pagination_tail">
        <if test="pager.orderBy != null and pager.orderBy != ''">
            ORDER  BY  ${pager.orderBy}
        </if>
        limit #{pager.index} , #{pager.pageSize}
    </sql>

    <!-- 查询字段公共sql -->
    <sql id="selectAllColumns">
        <![CDATA[
			SELECT
				id,
				product,
				sum,
				start,
				end,
				rate,
				createtime
			FROM salestarget record
		]]>
    </sql>

    <sql id="where_fragement">
        WHERE 1=1
        <if test="entity!=null">
            <if test = "entity.id != null">
                <![CDATA[ AND record.id = #{entity.id} ]]>
            </if>
            <if test = "entity.product != null">
                <![CDATA[ AND record.product = #{entity.product} ]]>
            </if>
            <if test = "entity.sum != null">
                <![CDATA[ AND record.sum = #{entity.sum} ]]>
            </if>
            <if test = "entity.start != null">
                <![CDATA[ AND record.start = #{entity.start} ]]>
            </if>
            <if test = "entity.end != null">
                <![CDATA[ AND record.end = #{entity.end} ]]>
            </if>
            <if test = "entity.rate != null">
                <![CDATA[ AND record.rate = #{entity.rate} ]]>
            </if>
            <if test = "entity.createtime != null">
                <![CDATA[ AND record.createtime = #{entity.createtime} ]]>
            </if>
        </if>
    </sql>

    <!-- 公共修改sql-->
    <sql id="update_fragement">
        <set>
            <if test = "product != null ">
                record.product = #{product},
            </if>
            <if test = "sum != null ">
                record.sum = #{sum},
            </if>
            <if test = "start != null ">
                record.start = #{start},
            </if>
            <if test = "end != null ">
                record.end = #{end},
            </if>
            <if test = "rate != null ">
                record.rate = #{rate},
            </if>
            <if test = "createtime != null ">
                record.createtime = #{createtime}
            </if>
        </set>
    </sql>
    <!-- /////////////////// PUBLIC SQL END ////////////////// -->
</mapper>
