<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.model.base.dao.AutoInformationDAO">
    <!-- 返回值映射map -->
    <resultMap id="informationMapper" type="com.xxx.model.base.entity.Information">
        <result property="id" column="id" />
        <result property="target" column="target" />
        <result property="remarks" column="remarks" />
        <result property="type" column="type" />
        <result property="createtime" column="createtime" />
    </resultMap>

    <!-- 分页查询数据集合 -->
    <select id="selectListByPage" resultMap="informationMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
        <if test="pager!=null">
            <include refid="pagination_tail" />
        </if>
    </select>

    <!-- 查询总数量 -->
    <select id="selectCount" resultType="long">
        <include refid="count_Tail"/>
        <include refid="where_fragement"/>
    </select>

    <!-- 单条查询 -->
    <select id="selectOne" resultMap="informationMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
    </select>

    <!-- 单条查询 -->
    <select id="selectById" resultMap="informationMapper" >
        <include refid="selectAllColumns"/>
        WHERE record.id = #{id}
    </select>

    <!-- 新增新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xxx.model.base.entity.Information">
        INSERT INTO information(
            target,
            remarks,
            type,
            createtime
        ) values (
            #{target},
            #{remarks},
            #{type},
            #{createtime}
        )
    </insert>

    <!-- 修改(通过ID只对不为空的内容进行修改) -->
    <update id="updateNotNull" parameterType="com.xxx.model.base.entity.Information">
        UPDATE information record
        <include refid="update_fragement"/>
        WHERE id = #{id}
    </update>

    <!-- 修改(通过ID更新所有属性值) -->
    <update id="updateParams" parameterType="com.xxx.model.base.entity.Information">
        UPDATE information record
        <set>
            record.target = #{target},
            record.remarks = #{remarks},
            record.type = #{type},
            record.createtime = #{createtime}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过ID删除信息 -->
    <delete id="deleteById">
        DELETE FROM information
        WHERE id = #{id}
    </delete>

    <!-- 通过IDS批量删除 -->
    <delete id="deleteByIds">
        DELETE FROM information
        WHERE id IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!-- /////////////////// PUBLIC SQL STR ////////////////// -->

    <!-- 查询数量公共sql -->
    <sql id="count_Tail">
        SELECT count(1) FROM information record
    </sql>

    <!-- 分页公共sql -->
    <sql id="pagination_tail">
        <if test="pager.orderBy != null and pager.orderBy != ''">
            ORDER  BY  ${pager.orderBy}
        </if>
        limit #{pager.index} , #{pager.pageSize}
    </sql>

    <!-- 查询字段公共sql -->
    <sql id="selectAllColumns">
        <![CDATA[
			SELECT
				id,
				target,
				remarks,
				type,
				createtime
			FROM information record
		]]>
    </sql>

    <sql id="where_fragement">
        WHERE 1=1
        <if test="entity!=null">
            <if test = "entity.id != null">
                <![CDATA[ AND record.id = #{entity.id} ]]>
            </if>
            <if test = "entity.target != null">
                <![CDATA[ AND record.target = #{entity.target} ]]>
            </if>
            <if test = "entity.remarks != null and entity.remarks != ''">
                <![CDATA[ AND record.remarks = #{entity.remarks} ]]>
            </if>
            <if test = "entity.type != null and entity.type != ''">
                <![CDATA[ AND record.type = #{entity.type} ]]>
            </if>
            <if test = "entity.createtime != null">
                <![CDATA[ AND record.createtime = #{entity.createtime} ]]>
            </if>
        </if>
    </sql>

    <!-- 公共修改sql-->
    <sql id="update_fragement">
        <set>
            <if test = "target != null ">
                record.target = #{target},
            </if>
            <if test = "remarks != null and remarks != ''">
                record.remarks = #{remarks},
            </if>
            <if test = "type != null and type != ''">
                record.type = #{type},
            </if>
            <if test = "createtime != null ">
                record.createtime = #{createtime}
            </if>
        </set>
    </sql>
    <!-- /////////////////// PUBLIC SQL END ////////////////// -->
</mapper>
