<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.model.base.dao.AutoProfitDAO">
    <!-- 返回值映射map -->
    <resultMap id="profitMapper" type="com.xxx.model.base.entity.Profit">
        <result property="id" column="id" />
        <result property="sum" column="sum" />
        <result property="time" column="time" />
        <result property="type" column="type" />
        <result property="signing" column="signing" />
    </resultMap>

    <!-- 分页查询数据集合 -->
    <select id="selectListByPage" resultMap="profitMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
        <if test="pager!=null">
            <include refid="pagination_tail" />
        </if>
    </select>

    <!-- 查询总数量 -->
    <select id="selectCount" resultType="long">
        <include refid="count_Tail"/>
        <include refid="where_fragement"/>
    </select>

    <!-- 单条查询 -->
    <select id="selectOne" resultMap="profitMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
    </select>

    <!-- 单条查询 -->
    <select id="selectById" resultMap="profitMapper" >
        <include refid="selectAllColumns"/>
        WHERE record.id = #{id}
    </select>

    <!-- 新增新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xxx.model.base.entity.Profit">
        INSERT INTO profit(
            sum,
            time,
            type,
            signing
        ) values (
            #{sum},
            #{time},
            #{type},
            #{signing}
        )
    </insert>

    <!-- 修改(通过ID只对不为空的内容进行修改) -->
    <update id="updateNotNull" parameterType="com.xxx.model.base.entity.Profit">
        UPDATE profit record
        <include refid="update_fragement"/>
        WHERE id = #{id}
    </update>

    <!-- 修改(通过ID更新所有属性值) -->
    <update id="updateParams" parameterType="com.xxx.model.base.entity.Profit">
        UPDATE profit record
        <set>
            record.sum = #{sum},
            record.time = #{time},
            record.type = #{type},
            record.signing = #{signing}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过ID删除信息 -->
    <delete id="deleteById">
        DELETE FROM profit
        WHERE id = #{id}
    </delete>

    <!-- 通过IDS批量删除 -->
    <delete id="deleteByIds">
        DELETE FROM profit
        WHERE id IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!-- /////////////////// PUBLIC SQL STR ////////////////// -->

    <!-- 查询数量公共sql -->
    <sql id="count_Tail">
        SELECT count(1) FROM profit record
    </sql>

    <!-- 分页公共sql -->
    <sql id="pagination_tail">
        <if test="pager.orderBy != null and pager.orderBy != ''">
            ORDER  BY  ${pager.orderBy}
        </if>
        limit #{pager.index} , #{pager.pageSize}
    </sql>

    <!-- 查询字段公共sql -->
    <sql id="selectAllColumns">
        <![CDATA[
			SELECT
				id,
				sum,
				time,
				type,
				signing
			FROM profit record
		]]>
</sql>

    <sql id="where_fragement">
        WHERE 1=1
        <if test="entity!=null">
            <if test = "entity.id != null">
                <![CDATA[ AND record.id = #{entity.id} ]]>
            </if>
            <if test = "entity.sum != null">
                <![CDATA[ AND record.sum = #{entity.sum} ]]>
            </if>
            <if test = "entity.time != null">
                <![CDATA[ AND record.time = #{entity.time} ]]>
            </if>
            <if test = "entity.type != null and entity.type != ''">
                <![CDATA[ AND record.type = #{entity.type} ]]>
            </if>
            <if test = "entity.signing != null">
                <![CDATA[ AND record.signing = #{entity.signing} ]]>
            </if>
        </if>
    </sql>

    <!-- 公共修改sql-->
    <sql id="update_fragement">
        <set>
            <if test = "sum != null ">
                record.sum = #{sum},
            </if>
            <if test = "time != null ">
                record.time = #{time},
            </if>
            <if test = "type != null and type != ''">
                record.type = #{type},
            </if>
            <if test = "signing != null ">
                record.signing = #{signing}
            </if>
        </set>
    </sql>
    <!-- /////////////////// PUBLIC SQL END ////////////////// -->
</mapper>
