<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.model.base.dao.AutoDdManagerDAO">
    <!-- 返回值映射map -->
    <resultMap id="ddManagerMapper" type="com.xxx.model.base.entity.DdManager">
        <result property="id" column="id" />
        <result property="managerTelephone" column="manager_telephone" />
        <result property="managerPassword" column="manager_password" />
        <result property="managerLimit" column="manager_limit" />
        <result property="managerCondition" column="manager_condition" />
    </resultMap>

    <!-- 分页查询数据集合 -->
    <select id="selectListByPage" resultMap="ddManagerMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
        <if test="pager!=null">
            <include refid="pagination_tail" />
        </if>
    </select>

    <!-- 查询总数量 -->
    <select id="selectCount" resultType="long">
        <include refid="count_Tail"/>
        <include refid="where_fragement"/>
    </select>

    <!-- 单条查询 -->
    <select id="selectOne" resultMap="ddManagerMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
    </select>

    <!-- 单条查询 -->
    <select id="selectById" resultMap="ddManagerMapper" >
        <include refid="selectAllColumns"/>
        WHERE record.id = #{id}
    </select>

    <!-- 新增新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xxx.model.base.entity.DdManager">
        INSERT INTO dd_manager(
            manager_telephone,
            manager_password,
            manager_limit,
            manager_condition
        ) values (
            #{managerTelephone},
            #{managerPassword},
            #{managerLimit},
            #{managerCondition}
        )
    </insert>

    <!-- 修改(通过ID只对不为空的内容进行修改) -->
    <update id="updateNotNull" parameterType="com.xxx.model.base.entity.DdManager">
        UPDATE dd_manager record
        <include refid="update_fragement"/>
        WHERE id = #{id}
    </update>

    <!-- 修改(通过ID更新所有属性值) -->
    <update id="updateParams" parameterType="com.xxx.model.base.entity.DdManager">
        UPDATE dd_manager record
        <set>
            record.manager_telephone = #{managerTelephone},
            record.manager_password = #{managerPassword},
            record.manager_limit = #{managerLimit},
            record.manager_condition = #{managerCondition}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过ID删除信息 -->
    <delete id="deleteById">
        DELETE FROM dd_manager
        WHERE id = #{id}
    </delete>

    <!-- 通过IDS批量删除 -->
    <delete id="deleteByIds">
        DELETE FROM dd_manager
        WHERE id IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!-- /////////////////// PUBLIC SQL STR ////////////////// -->

    <!-- 查询数量公共sql -->
    <sql id="count_Tail">
        SELECT count(1) FROM dd_manager record
    </sql>

    <!-- 分页公共sql -->
    <sql id="pagination_tail">
        <if test="pager.orderBy != null and pager.orderBy != ''">
            ORDER  BY  ${pager.orderBy}
        </if>
        limit #{pager.index} , #{pager.pageSize}
    </sql>

    <!-- 查询字段公共sql -->
    <sql id="selectAllColumns">
        <![CDATA[
			SELECT
				id,
				manager_telephone,
				manager_password,
				manager_limit,
				manager_condition
			FROM dd_manager record
		]]>
    </sql>

    <sql id="where_fragement">
        WHERE 1=1
        <if test="entity!=null">
            <if test = "entity.id != null">
                <![CDATA[ AND record.id = #{entity.id} ]]>
            </if>
            <if test = "entity.managerTelephone != null and entity.managerTelephone != ''">
                <![CDATA[ AND record.manager_telephone = #{entity.managerTelephone} ]]>
            </if>
            <if test = "entity.managerPassword != null and entity.managerPassword != ''">
                <![CDATA[ AND record.manager_password = #{entity.managerPassword} ]]>
            </if>
            <if test = "entity.managerLimit != null">
                <![CDATA[ AND record.manager_limit = #{entity.managerLimit} ]]>
            </if>
            <if test = "entity.managerCondition != null">
                <![CDATA[ AND record.manager_condition = #{entity.managerCondition} ]]>
            </if>
        </if>
    </sql>

    <!-- 公共修改sql-->
    <sql id="update_fragement">
        <set>
            <if test = "managerTelephone != null and managerTelephone != ''">
                record.manager_telephone = #{managerTelephone},
            </if>
            <if test = "managerPassword != null and managerPassword != ''">
                record.manager_password = #{managerPassword},
            </if>
            <if test = "managerLimit != null ">
                record.manager_limit = #{managerLimit},
            </if>
            <if test = "managerCondition != null ">
                record.manager_condition = #{managerCondition}
            </if>
        </set>
    </sql>
    <!-- /////////////////// PUBLIC SQL END ////////////////// -->
</mapper>
