<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.model.base.dao.AutoSeoBackDAO">
    <!-- 返回值映射map -->
    <resultMap id="seoBackMapper" type="com.xxx.model.base.entity.SeoBack">
        <result property="idSeo" column="id_seo" />
        <result property="btSeo" column="bt_seo" />
        <result property="scSeo" column="sc_seo" />
        <result property="gjcSeo" column="gjc_seo" />
        <result property="qtySeo" column="qty_seo" />
        <result property="phoneSeo" column="phone_seo" />
        <result property="wzbaSeo" column="wzba_seo" />
        <result property="ggbaSeo" column="ggba_seo" />
        <result property="ggljSeo" column="gglj_seo" />
        <result property="dsfSeo" column="dsf_seo" />
    </resultMap>

    <!-- 分页查询数据集合 -->
    <select id="selectListByPage" resultMap="seoBackMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
        <if test="pager!=null">
            <include refid="pagination_tail" />
        </if>
    </select>

    <!-- 查询总数量 -->
    <select id="selectCount" resultType="long">
        <include refid="count_Tail"/>
        <include refid="where_fragement"/>
    </select>

    <!-- 单条查询 -->
    <select id="selectOne" resultMap="seoBackMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
    </select>

    <!-- 单条查询 -->
    <select id="selectById" resultMap="seoBackMapper" >
        <include refid="selectAllColumns"/>
        WHERE record.id = #{id}
    </select>

    <!-- 新增新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xxx.model.base.entity.SeoBack">
        INSERT INTO seo_back(
            id_seo,
            bt_seo,
            sc_seo,
            gjc_seo,
            qty_seo,
            phone_seo,
            wzba_seo,
            ggba_seo,
            gglj_seo,
            dsf_seo
        ) values (
            #{idSeo},
            #{btSeo},
            #{scSeo},
            #{gjcSeo},
            #{qtySeo},
            #{phoneSeo},
            #{wzbaSeo},
            #{ggbaSeo},
            #{ggljSeo},
            #{dsfSeo}
        )
    </insert>

    <!-- 修改(通过ID只对不为空的内容进行修改) -->
    <update id="updateNotNull" parameterType="com.xxx.model.base.entity.SeoBack">
        UPDATE seo_back record
        <include refid="update_fragement"/>
        WHERE id = #{id}
    </update>

    <!-- 修改(通过ID更新所有属性值) -->
    <update id="updateParams" parameterType="com.xxx.model.base.entity.SeoBack">
        UPDATE seo_back record
        <set>
            record.id_seo = #{idSeo},
            record.bt_seo = #{btSeo},
            record.sc_seo = #{scSeo},
            record.gjc_seo = #{gjcSeo},
            record.qty_seo = #{qtySeo},
            record.phone_seo = #{phoneSeo},
            record.wzba_seo = #{wzbaSeo},
            record.ggba_seo = #{ggbaSeo},
            record.gglj_seo = #{ggljSeo},
            record.dsf_seo = #{dsfSeo}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过ID删除信息 -->
    <delete id="deleteById">
        DELETE FROM seo_back
        WHERE id = #{id}
    </delete>

    <!-- 通过IDS批量删除 -->
    <delete id="deleteByIds">
        DELETE FROM seo_back
        WHERE id IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!-- /////////////////// PUBLIC SQL STR ////////////////// -->

    <!-- 查询数量公共sql -->
    <sql id="count_Tail">
        SELECT count(1) FROM seo_back record
    </sql>

    <!-- 分页公共sql -->
    <sql id="pagination_tail">
        <if test="pager.orderBy != null and pager.orderBy != ''">
            ORDER  BY  ${pager.orderBy}
        </if>
        limit #{pager.index} , #{pager.pageSize}
    </sql>

    <!-- 查询字段公共sql -->
    <sql id="selectAllColumns">
        <![CDATA[
			SELECT
				id_seo,
				bt_seo,
				sc_seo,
				gjc_seo,
				qty_seo,
				phone_seo,
				wzba_seo,
				ggba_seo,
				gglj_seo,
				dsf_seo
			FROM seo_back record
		]]>
    </sql>

    <sql id="where_fragement">
        WHERE 1=1
        <if test="entity!=null">
            <if test = "entity.idSeo != null">
                <![CDATA[ AND record.id_seo = #{entity.idSeo} ]]>
            </if>
            <if test = "entity.btSeo != null and entity.btSeo != ''">
                <![CDATA[ AND record.bt_seo LIKE concat('%',#{entity.btSeo},'%') ]]>
            </if>
            <if test = "entity.scSeo != null and entity.scSeo != ''">
                <![CDATA[ AND record.sc_seo = #{entity.scSeo} ]]>
            </if>
            <if test = "entity.gjcSeo != null and entity.gjcSeo != ''">
                <![CDATA[ AND record.gjc_seo = #{entity.gjcSeo} ]]>
            </if>
            <if test = "entity.qtySeo != null and entity.qtySeo != ''">
                <![CDATA[ AND record.qty_seo = #{entity.qtySeo} ]]>
            </if>
            <if test = "entity.phoneSeo != null and entity.phoneSeo != ''">
                <![CDATA[ AND record.phone_seo = #{entity.phoneSeo} ]]>
            </if>
            <if test = "entity.wzbaSeo != null and entity.wzbaSeo != ''">
                <![CDATA[ AND record.wzba_seo = #{entity.wzbaSeo} ]]>
            </if>
            <if test = "entity.ggbaSeo != null and entity.ggbaSeo != ''">
                <![CDATA[ AND record.ggba_seo = #{entity.ggbaSeo} ]]>
            </if>
            <if test = "entity.ggljSeo != null and entity.ggljSeo != ''">
                <![CDATA[ AND record.gglj_seo = #{entity.ggljSeo} ]]>
            </if>
            <if test = "entity.dsfSeo != null and entity.dsfSeo != ''">
                <![CDATA[ AND record.dsf_seo = #{entity.dsfSeo} ]]>
            </if>
        </if>
    </sql>

    <!-- 公共修改sql-->
    <sql id="update_fragement">
        <set>
            <if test = "idSeo != null ">
                record.id_seo = #{idSeo},
            </if>
            <if test = "btSeo != null and btSeo != ''">
                record.bt_seo = #{btSeo},
            </if>
            <if test = "scSeo != null and scSeo != ''">
                record.sc_seo = #{scSeo},
            </if>
            <if test = "gjcSeo != null and gjcSeo != ''">
                record.gjc_seo = #{gjcSeo},
            </if>
            <if test = "qtySeo != null and qtySeo != ''">
                record.qty_seo = #{qtySeo},
            </if>
            <if test = "phoneSeo != null and phoneSeo != ''">
                record.phone_seo = #{phoneSeo},
            </if>
            <if test = "wzbaSeo != null and wzbaSeo != ''">
                record.wzba_seo = #{wzbaSeo},
            </if>
            <if test = "ggbaSeo != null and ggbaSeo != ''">
                record.ggba_seo = #{ggbaSeo},
            </if>
            <if test = "ggljSeo != null and ggljSeo != ''">
                record.gglj_seo = #{ggljSeo},
            </if>
            <if test = "dsfSeo != null and dsfSeo != ''">
                record.dsf_seo = #{dsfSeo}
            </if>
        </set>
    </sql>
    <!-- /////////////////// PUBLIC SQL END ////////////////// -->
</mapper>
