<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.model.base.dao.AutoCustomerDAO">
    <!-- 返回值映射map -->
    <resultMap id="customerMapper" type="com.xxx.model.base.entity.Customer">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="phone" column="phone" />
        <result property="email" column="email" />
        <result property="wechat" column="wechat" />
        <result property="imgA" column="img_a" />
        <result property="imgB" column="img_b" />
        <result property="company" column="company" />
        <result property="department" column="department" />
        <result property="deal" column="deal" />
        <result property="cash" column="cash" />
        <result property="agent" column="agent" />
        <result property="zmxg" column="zmxg" />
        <result property="type" column="type" />
        <result property="state" column="state" />
        <result property="seas" column="seas" />
        <result property="createtime" column="createtime" />
    </resultMap>

    <!-- 分页查询数据集合 -->
    <select id="selectListByPage" resultMap="customerMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
        <if test="pager!=null">
            <include refid="pagination_tail" />
        </if>
    </select>

    <!-- 查询总数量 -->
    <select id="selectCount" resultType="long">
        <include refid="count_Tail"/>
        <include refid="where_fragement"/>
    </select>

    <!-- 单条查询 -->
    <select id="selectOne" resultMap="customerMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
    </select>

    <!-- 单条查询 -->
    <select id="selectById" resultMap="customerMapper" >
        <include refid="selectAllColumns"/>
        WHERE record.id = #{id}
    </select>

    <!-- 新增新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xxx.model.base.entity.Customer">
        INSERT INTO customer(
            name,
            phone,
            email,
            wechat,
            img_a,
            img_b,
            company,
            department,
            deal,
            cash,
            agent,
            zmxg,
            type,
            state,
            seas,
            createtime
        ) values (
            #{name},
            #{phone},
            #{email},
            #{wechat},
            #{imgA},
            #{imgB},
            #{company},
            #{department},
            #{deal},
            #{cash},
            #{agent},
            #{zmxg},
            #{type},
            #{state},
            #{seas},
            #{createtime}
        )
    </insert>

    <!-- 修改(通过ID只对不为空的内容进行修改) -->
    <update id="updateNotNull" parameterType="com.xxx.model.base.entity.Customer">
        UPDATE customer record
        <include refid="update_fragement"/>
        WHERE id = #{id}
    </update>

    <!-- 修改(通过ID更新所有属性值) -->
    <update id="updateParams" parameterType="com.xxx.model.base.entity.Customer">
        UPDATE customer record
        <set>
            record.name = #{name},
            record.phone = #{phone},
            record.email = #{email},
            record.wechat = #{wechat},
            record.img_a = #{imgA},
            record.img_b = #{imgB},
            record.company = #{company},
            record.department = #{department},
            record.deal = #{deal},
            record.cash = #{cash},
            record.agent = #{agent},
            record.zmxg = #{zmxg},
            record.type = #{type},
            record.state = #{state},
            record.seas = #{seas},
            record.createtime = #{createtime}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过ID删除信息 -->
    <delete id="deleteById">
        DELETE FROM customer
        WHERE id = #{id}
    </delete>

    <!-- 通过IDS批量删除 -->
    <delete id="deleteByIds">
        DELETE FROM customer
        WHERE id IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!-- /////////////////// PUBLIC SQL STR ////////////////// -->

    <!-- 查询数量公共sql -->
    <sql id="count_Tail">
        SELECT count(1) FROM customer record
    </sql>

    <!-- 分页公共sql -->
    <sql id="pagination_tail">
        <if test="pager.orderBy != null and pager.orderBy != ''">
            ORDER  BY  ${pager.orderBy}
        </if>
        limit #{pager.index} , #{pager.pageSize}
    </sql>

    <!-- 查询字段公共sql -->
    <sql id="selectAllColumns">
        <![CDATA[
			SELECT
				id,
				name,
				phone,
				email,
				wechat,
				img_a,
				img_b,
				company,
				department,
				deal,
				cash,
				agent,
				zmxg,
				type,
				state,
				seas,
				createtime
			FROM customer record
		]]>
</sql>

    <sql id="where_fragement">
        WHERE 1=1
        <if test="entity!=null">
            <if test = "entity.id != null">
                <![CDATA[ AND record.id = #{entity.id} ]]>
            </if>
            <if test = "entity.name != null and entity.name != ''">
                <![CDATA[ AND record.name = #{entity.name} ]]>
            </if>
            <if test = "entity.phone != null and entity.phone != ''">
                <![CDATA[ AND record.phone = #{entity.phone} ]]>
            </if>
            <if test = "entity.email != null and entity.email != ''">
                <![CDATA[ AND record.email = #{entity.email} ]]>
            </if>
            <if test = "entity.wechat != null and entity.wechat != ''">
                <![CDATA[ AND record.wechat = #{entity.wechat} ]]>
            </if>
            <if test = "entity.imgA != null and entity.imgA != ''">
                <![CDATA[ AND record.img_a = #{entity.imgA} ]]>
            </if>
            <if test = "entity.imgB != null and entity.imgB != ''">
                <![CDATA[ AND record.img_b = #{entity.imgB} ]]>
            </if>
            <if test = "entity.company != null and entity.company != ''">
                <![CDATA[ AND record.company = #{entity.company} ]]>
            </if>
            <if test = "entity.department != null">
                <![CDATA[ AND record.department = #{entity.department} ]]>
            </if>
            <if test = "entity.deal != null and entity.deal != ''">
                <![CDATA[ AND record.deal = #{entity.deal} ]]>
            </if>
            <if test = "entity.cash != null and entity.cash != ''">
                <![CDATA[ AND record.cash = #{entity.cash} ]]>
            </if>
            <if test = "entity.agent != null">
                <![CDATA[ AND record.agent = #{entity.agent} ]]>
            </if>
            <if test = "entity.zmxg != null and entity.zmxg != ''">
                <![CDATA[ AND record.zmxg = #{entity.zmxg} ]]>
            </if>
            <if test = "entity.type != null and entity.type != ''">
                <![CDATA[ AND record.type = #{entity.type} ]]>
            </if>
            <if test = "entity.state != null and entity.state != ''">
                <![CDATA[ AND record.state = #{entity.state} ]]>
            </if>
            <if test = "entity.seas != null and entity.seas != ''">
                <![CDATA[ AND record.seas = #{entity.seas} ]]>
            </if>
            <if test = "entity.createtime != null">
                <![CDATA[ AND record.createtime = #{entity.createtime} ]]>
            </if>
        </if>
    </sql>

    <!-- 公共修改sql-->
    <sql id="update_fragement">
        <set>
            <if test = "name != null and name != ''">
                record.name = #{name},
            </if>
            <if test = "phone != null and phone != ''">
                record.phone = #{phone},
            </if>
            <if test = "email != null and email != ''">
                record.email = #{email},
            </if>
            <if test = "wechat != null and wechat != ''">
                record.wechat = #{wechat},
            </if>
            <if test = "imgA != null and imgA != ''">
                record.img_a = #{imgA},
            </if>
            <if test = "imgB != null and imgB != ''">
                record.img_b = #{imgB},
            </if>
            <if test = "company != null and company != ''">
                record.company = #{company},
            </if>
            <if test = "department != null ">
                record.department = #{department},
            </if>
            <if test = "deal != null and deal != ''">
                record.deal = #{deal},
            </if>
            <if test = "cash != null and cash != ''">
                record.cash = #{cash},
            </if>
            <if test = "agent != null ">
                record.agent = #{agent},
            </if>
            <if test = "zmxg != null and zmxg != ''">
                record.zmxg = #{zmxg},
            </if>
            <if test = "type != null and type != ''">
                record.type = #{type},
            </if>
            <if test = "state != null and state != ''">
                record.state = #{state},
            </if>
            <if test = "seas != null and seas != ''">
                record.seas = #{seas},
            </if>
            <if test = "createtime != null ">
                record.createtime = #{createtime}
            </if>
        </set>
    </sql>
    <!-- /////////////////// PUBLIC SQL END ////////////////// -->
</mapper>
